@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@200;400;600&display=swap');

.App-title{
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 600;
}

.App-subtitle{
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: medium;
}

.App-paragraph{
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 200;
  font-size: small;
}

.App-icons{
  width: 2rem;
  height: 2rem;
}

.App-btn{
  border-radius: 2rem;
  border: 4px solid  rgb(0, 0, 29);
  background-color: rgb(0, 0, 29);
  color: aliceblue;
  width: 10rem;
}

.App-btn:hover{
  background-color:blanchedalmond;
  transition: 0.2s ease-in-out;
  color: black;
}

.App-list{
  list-style-type: none;
  margin-top: 5px;
  color: aliceblue;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 200;
}

.App-logo{
	width: 6rem;
	height: 6rem;
}
.App-container{
	display: none;
}

.about{
	font-family: 'Fira Sans Condensed', sans-serif;;
	font-weight: 600;
	font-size: 5rem;
	color: crimson;
}


@keyframes arrowDown {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-10px);
	}
	100% {
		transform: translatey(0px);
	}
}

@keyframes arrowUp {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(10px);
	}
	100% {
		transform: translatey(0px);
	}
}

@keyframes arrowLeft {
	0% {
		transform: translatex(0px);
	}
	50% {
		transform: translatex(-10px);
	}
	100% {
		transform: translatex(0px);
	}
}

.btn-float{
  	transform: translatey(0px);
	animation: arrowDown 2s ease-in-out infinite;
	background-color: transparent;
	border: none;
}

.btn-up{
	transform: translatey(0px);
	animation: arrowUp 2s ease-in-out infinite;
	background-color: transparent;
	border: none;
}

.arrowLeft{
	display: none;
}

.App-navbar{
	margin-left: 2rem;
	margin-right: 2rem;
	box-shadow: none !important;
}

.App-meter::-webkit-meter-optimum-value{
	background: rgb(0, 0, 29);
	color: rgb(47, 90, 168);
}

.App-stacks{
	margin-left: 2rem;
}

@media (min-width:768px){
	.arrowLeft{
		display: block;
		transform: translatex(0px);
	  	animation: arrowLeft 2s ease-in-out infinite;
	}

	.App-container{
		display: flex;	
	}

	.App-navbar{
		margin-left: 2rem;
		margin-right: 2rem;
	}

	.App-logo{
		width: 10rem;
		height: 10rem;
	}

	.App-subtitle{
		font-size: larger;
	}

	.App-paragraph{
		font-size: large;
	}
	
	.App-stacks{
		margin-left: 0
	}
}